<form (ngSubmit)="onSubmit()" #uploadForm="ngForm">


    <div *ngIf="error" class="alert alert-danger" role="alert">
    {{error}}
  </div>
    <div class="alert alert-success" role="alert" *ngIf="message">
      {{message}}
    </div>
  <div class="file-uploads">
  <input
    (change)="onFileChange($event)"
    type="file"
    name="file"
    required
    id="file"
    multiple
    #filesInput
  />
  <div class="buttons">
    <div>
      <button type="submit" class="btn btn-light submit">Submit</button>
      <button type="submit" class="btn btn-light reset" (click)="reset()">Reset</button>
      <button type="button" class="btn btn-light clear" (click)="(files = []) && (filesInput.value = '')">Clear the list</button>
    </div>
    <div class="empty-upload" *ngIf="uploadForm.submitted && !files.length">Please choose file(s)</div>
  </div>
  </div>



</form>

<div *ngFor="let fil of files">
  <ul class="list-group">
    <li class="list-group-item">{{fil.name}} <button (click)="delete(fil)"><i class="pi pi-times"></i></button></li>

  </ul>
</div>
